.jumbotron .desc h2{
    font-style: normal;
    font-weight: 900;
    font-size: 56px;
    line-height: 80px;

    /* primary */

    color: #323232;
}
.jumbotron{
    background: none;
}
.jumbotron .desc .sosmed i{
    font-size: 16px;
    padding: 10px 10px;
    background: #F2F6F7;
    box-shadow: -5px 10px 20px rgba(0, 0, 0, 0.25);
}

#about .desc h3{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 21px;
    text-align: justify;

    /* secondary */

    color: #FD8F13;
}
